{% load static %}
<!-- #627254 verde oscuro -->
<!-- #76885B verde claro -->
<!-- #DDDDDD plomo -->
<!-- #EEEEEE blanco -->
<!doctype html>
<html lang="es">

<head>
{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<!-- <link rel="shortcut icon" href="logo.png.png"> -->
	<link rel="shortcut icon" href="{% static "aplicacion/img/logo.png.png" %}">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{% static "aplcacion/css/bootstrap.min.css"%}">
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" %}" >
	<!-- <link href="css/tiny-slider.css" rel="stylesheet">  -->
	<link rel="stylesheet" href="{% static "aplicacion/css/tiny-slider.css" %}" >
	<!-- <link href="css/style.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{% static "aplicacion/css/style.css" %}" >

{% endblock head %}
	<title>Inicio </title>
</head>

<body>
{% block navbar %}
	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<!-- <a class="navbar-brand" href="index.html">Brama<span>.</span></a> -->
			<a class="navbar-brand" href="{% url "index" %}">Brama<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<!-- <li><a class="nav-link" href="miscompras.html">Mis Compras -->
					<li><a class="nav-link" href="{% url "miscompras" %}">Mis Compras	
						</a></li>
					<li class="nav-item active">
				   <!-- <a class="nav-link" href="index.html">Inicio</a> -->
						<a class="nav-link" href="{% url "index" %}">Inicio</a>
					</li>
			   <!-- <li><a class="nav-link" href="shop.html">Tienda</a></li> -->
					<li><a class="nav-link" href="{% url "shop" %}">Tienda</a></li>
				<!--<li><a class="nav-link" href="about.html">Nosotros</a></li>  -->
					<li><a class="nav-link" href="{% url "about" %}">Nosotros</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<!--<li><a class="nav-link" href="sesion.html"><img src="images/user.svg"></a></li> -->
					<li><a class="nav-link" href="{% url "sesion" %}"><img src="{% static "aplicacion/img/user.svg" %}"></a></li>
				<!--<li><a class="nav-link" href="cart.html"><img src="images/cart.svg"></a></li> -->
					<li><a class="nav-link" href="{% url "cart" %}"><img src="{% static "aplicacion/img/cart.svg" %}"></a></li>
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->
{% endblock navbar %}
	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Apuntando a la calidad<span class="d-block"> y seguridad</span></h1>
						<p class="mb-4">Brindamos la mejor experiencia para cualquier situación descabellada, te
							protegemos y aportamos con nuestro equipo de primera clase, tal como nuestra arma destacada
							de la semana. </p>
					<!--<p><a href="shop.html" class="btn btn-secondary me-2">Tienda</a></p> -->
						<p><a href="{% url "shop" %}" class="btn btn-secondary me-2">Tienda</a></p>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="hero-img-wrap">
					<!--<img responsive src="images/ak74.jpg" class="img-fluid"> -->
						<img responsive src="{%static "aplicacion/img/ak74.jpg" %}" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->


	<!-- Start Product Section -->
	<div class="product-section">
		<div class="container">
			<div class="row">

				<!-- Start Column 1 -->
				<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
					<h2 class="mb-4 section-title">Armamentos a tu medida</h2>
					<p class="mb-4">Estos productos son seleccionados cuidadosamente para ofrecer las mejores opciones
						en el mercado de armamento y seguridad, asegurando calidad y confiabilidad para la protección
						personal y profesional de nuestros clientes. </p>
			   <!-- <p><a href="shop.html" class="btn">Explorar</a></p> -->
					<p><a href="{% url "shop" %}" class="btn">Explorar</a></p>
				</div>
				<!-- End Column 1 -->

				<!-- Start Column 2 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<!--<a class="product-item" href="producto/beretta.html">  -->
					<a class="product-item" href="{% url "beretta" %}">
					<!--<img src="images/bereta-remove.png" class="img-fluid product-thumbnail">  -->
						<img src="{% static "aplicacion/img/bereta-remove.png" %}" class="img-fluid product-thumbnail">
						<h3 class="product-title">Beretta</h3>
						<strong class="product-price">$144.000</strong>

						<span class="icon-cross">
						<!--<img src="images/cross.svg" class="img-fluid">  -->
							<img src="{% static "aplicacion/img/cross.svg" %}" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 2 -->

				<!-- Start Column 3 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<!--<a class="product-item" href="producto/cuchillo.html"> -->
					<a class="product-item" href="{% url "cuchillo" %}">
					<!--<img src="images/cuchillo-remove.png" class="img-fluid product-thumbnail">-->
						<img src="{% static "aplicacion/img/cuchillo-remove.png" %}" class="img-fluid product-thumbnail">
						<h3 class="product-title">Cuchillo tactico</h3>
						<strong class="product-price">$50.000</strong>

						<span class="icon-cross">
							<img src="{% static "aplicacion/img/cross.svg" %}" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 3 -->

				<!-- Start Column 4 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
			   <!-- <a class="product-item" href="producto/carpa.html">-->
					<a class="product-item" href="{% url "carpa"%}">
			       <!-- <img src="images/carpa3-remove.png" class="img-fluid product-thumbnail"> -->
						<img src="{% static "aplicacion/img/carpa3-remove.png" %}" class="img-fluid product-thumbnail">
						<h3 class="product-title">Carpa</h3>
						<strong class="product-price">$135.000</strong>

						<span class="icon-cross">
							<img src="{% static "aplicacion/img/cross.svg" %}" class="img-fluid">
						</span>
					</a>
				</div>
				<!-- End Column 4 -->

			</div>
		</div>
	</div>
	<!-- End Product Section -->

	<!-- Start Why Choose Us Section -->
	<div class="why-choose-section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<h2 class="section-title">¿Por qué elegirnos?</h2>
					<p>Brama pone un gran énfasis en la atención, personal calificado y con experiencia en seguridad y
						defensa, estará siempre disponible para asesorar y responder todas las preguntas,
						garantizando que cada cliente encuentre lo que necesites.</p>

					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
							   <!-- <img src="images/truck.svg" alt="Image" class="imf-fluid"> -->
									<img src="{% static "aplicacion/img/truck.svg" %}" alt="Image" class="imf-fluid">
								</div>
								<h3>Rapido &amp; y envío gratis</h3>
								<p>Disponemos de numero de seguimiento para cada actualizacion</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
							   <!-- <img src="images/bag.svg" alt="Image" class="imf-fluid">  -->
									<img src="{% static "aplicacion/img/bag.svg" %}" alt="Image" class="imf-fluid">
								</div>
								<h3>Facil de comprar</h3>
								<p>Aceptamos pago con tarjeta Debito, Credito, transferencia</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
							    <!--<img src="images/support.svg" alt="Image" class="imf-fluid">  -->
									<img src="{% static "aplicacion/img/support.svg" %}" alt="Image" class="imf-fluid">
								</div>
								<h3>Atención al cliente</h3>
								<p>Nos puedes mandar un correo electronico a armeria@brama.cl, presencial, o via
									Whatsapp</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
							 <!--	<img src="images/return.svg" alt="Image" class="imf-fluid"> -->
									<img src="{% static "aplicacion/img/return.svg" %}" alt="Image" class="imf-fluid">
								</div>
								<h3>Garantia </h3>
								<p>En caso de fallo de fabrica, mal estado comprado ya nuevo, se puede contactar con
									nosotros para aplicar la garantía.</p>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-5">
					<div class="img-wrap">
					<!--<img src="images/bramalimpioo.jpg" alt="Image" class="img-fluid"> -->
						<img src="{% static "aplicacion/img/bramalimpioo.jpg" %}" alt="Image" class="img-fluid">
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End Why Choose Us Section -->

{%block scripts %}
<!--<script src="js/bootstrap.bundle.min.js"></script> -->
	<script src='{% static "aplicacion/js/bootstrap.bundle.min.js" %}}'></script>
<!--<script src="js/tiny-slider.js"></script>  -->
	<script src='{% static "aplicacion/js/tiny-slider.js" %}}'></script>
<!--<script src="js/custom.js"></script> -->
	<script src='{% static "aplicacion/js/custom.js" %}}'></script>

{%endblock scripts %}

{% if user.is_authenticated%} 
	<form action="{% url 'logout' %}" method="post">
		{% {% csrf_token %}%}
		<li class="nav-item">
	<button class="nav-link px-5 text-light" href= ""> Bienvenido, <strong> {{user.username}} </strong> <strong>  Cerrar sesion</strong></button>
	</form>
	{% else %}
	<a class="nav-link px-5 text-light" href= "{% url "login" %}" ><strong>Iniciar sesion</strong></a>
	{% endif %}

</body>

</html>