{% load static %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<!-- <link rel="shortcut icon" href="logo.png.png"> -->
	<link rel="shortcut icon" href="{%static "aplicacion/img/logo.png.png" %}">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{%static "aplcacion/css/bootstrap.min.css"%}">
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{%static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" %}" >
	<!-- <link href="css/tiny-slider.css" rel="stylesheet">  -->
	<link rel="stylesheet" href="{%static "aplicacion/css/tiny-slider.css" %}" >
	<!-- <link href="css/style.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{%static "aplicacion/css/style.css" %}" >
    <title>Carro de compras</title>
</head>    

<body>

    <!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<!-- <a class="navbar-brand" href="index.html">Brama<span>.</span></a> -->
			<a class="navbar-brand" href="{% url "index" %}">Brama<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<!-- <li><a class="nav-link" href="miscompras.html">Mis Compras -->
					<li><a class="nav-link" href="{% url "miscompras" %}">Mis Compras	
						</a></li>
					<li class="nav-item active">
				   <!-- <a class="nav-link" href="index.html">Inicio</a> -->
						<a class="nav-link" href="{% url "index" %}">Inicio</a>
					</li>
			   <!-- <li><a class="nav-link" href="shop.html">Tienda</a></li> -->
					<li><a class="nav-link" href="{% url "shop" %}">Tienda</a></li>
				<!--<li><a class="nav-link" href="about.html">Nosotros</a></li>  -->
					<li><a class="nav-link" href="{% url "about" %}">Nosotros</a></li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<!--<li><a class="nav-link" href="sesion.html"><img src="images/user.svg"></a></li> -->
					<li><a class="nav-link" href="{% url "sesion" %}"><img src="{% static "aplicacion/img/user.svg" %}"></a></li>
				<!--<li><a class="nav-link" href="cart.html"><img src="images/cart.svg"></a></li> -->
					<li><a class="nav-link" href="{% url "cart" %}"><img src="{% static "aplicacion/img/cart.svg" %}"></a></li>
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Carro de compras</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <div class="untree_co-section before-footer-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Imagen</th>
                                    <th class="product-name">Producto</th>
                                    <th class="product-price">Precio</th>
                                    <th class="product-quantity">Cantidad</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail">
                                  <!--  <img src="images/bereta-remove.png" alt="Image" class="img-fluid"> -->
                                        <img src="{% static "aplicacion/img/bereta-remove.png" %}" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">Beretta</h2>
                                    </td>
                                    <td class="product-price">$144.000</td>
                                    <td>
                                        <div class="input-group mb-3 d-flex align-items-center quantity-container"
                                            style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-black decrease" type="button">&minus;</button>
                                            </div>
                                            <input type="text" class="form-control text-center quantity-amount" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" disabled>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-black increase" type="button">&plus;</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-total">$144.000</td>
                                    <td><a href="#" class="btn btn-black btn-sm btn-remove">X</a></td>
                                </tr>

                                <tr>
                                    <td class="product-thumbnail">
                                   <!-- <img src="images/cuchillo-remove.png" alt="Image" class="img-fluid">  -->
                                        <img src="{% static "aplicacion/img/cuchillo-remove.png" %}" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">Cuchillo táctico</h2>
                                    </td>
                                    <td class="product-price">$38.990</td>
                                    <td>
                                        <div class="input-group mb-3 d-flex align-items-center quantity-container"
                                            style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-black decrease" type="button">&minus;</button>
                                            </div>
                                            <input type="text" class="form-control text-center quantity-amount" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" disabled>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-black increase" type="button">&plus;</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-total">$38.990</td>
                                    <td><a href="#" class="btn btn-black btn-sm btn-remove">X</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <button class="btn btn-black btn-sm btn-block" id="updateCartButton">Actualizar carro de compra</button>
                        </div>
                        <div class="col-md-6">
                        <!--<a href="shop.html" class="btn btn-black btn-sm btn-block">Continuar comprando</a> -->
                            <a href="{% url "shop" %}" class="btn btn-black btn-sm btn-block">Continuar comprando</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Total en Carro de compras</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black" id="subtotal">$0 </strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black" id="total">$0</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Ir al Comprobante</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<script src="js/bootstrap.bundle.min.js"></script> -->
	<script src='{% static "aplicacion/js/bootstrap.bundle.min.js" %}'></script>
    <!--<script src="js/tiny-slider.js"></script>  -->
        <script src='{% static "aplicacion/js/tiny-slider.js" %}'></script>
    <!--<script src="js/custom.js"></script> -->
        <script src='{% static "aplicacion/js/custom.js" %}'></script>
<!--<script src="js/cart.js"></script>  Aquí se incluye el nuevo archivo JavaScript   -->
    <script src='{% static "aplicacion/js/cart.js" %}'></script> <!-- Aquí se incluye el nuevo archivo JavaScript -->
</body>
</html>
